{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% app_attr 'meta_title' %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <link rel="shortcut icon" href="{% block favicon %}https://static.djangoproject.com/img/favicon.6dbf28c0650e.ico{% endblock %}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{% url 'blog:post_feed' %}" />
    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
    {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<!-- ==== Body Start ==== -->
<body class="bg-light">

    <!-- ==== Nav ==== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="{% url 'blog:post_list' %}">
            {% app_attr 'header_title' %}
        </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="navbar-text">{% app_attr 'header_description' %}</span>
                </li>
            </ul>
            {% search_box %}
        </div>
    </nav>
    <!-- ==== End Nav ==== -->

    <!-- ==== Start Content ==== -->
    <div class="container-fluid pl-5 pr-5">
        <div class="row">
            <div role="main" class="col-sm-8 pr-4">
                {% block content %}
                {% endblock %}
            </div>
            <div role="sidebar" class="col-sm-4 pl-4">
                {% show_categories %}
                {% show_tags %}
                {% show_latest_posts 5 %}
                {% show_commented_posts 5 %}
            </div>
        </div>
    </div>

    <!-- ==== Footer ==== -->
    <footer class="footer page-footer font-small mt-5 bg-white">
        <div class="footer-copyright text-center py-3">
            {% app_attr 'footer' %} &nbsp;&nbsp; 
            <a href="{% url 'blog:post_feed' %}" title="RSS Feed">RSS Feed</a>&nbsp;&nbsp;
        </div>
    </footer>
    <!-- ==== Footer ==== -->
</body>
<!-- ==== Body End ==== -->
</html>